viewport {
  border-style: solid;
}

#logfile-textview text {
  background-image: none;
  background-color: black;
}

#statusbutton {
  padding-top: 0px;
  padding-bottom: 0px;
}

#pigeonimageoverlay {
  background-color: rgba(1, 1, 1, 0.2);
}

.displayentry {
  border-color: @borders;
  background-color: @theme_base_color;
}

.displayentry:focus {
  box-shadow: none;
}

.extraentry {
  border-width: 0px;
  background-color: @theme_base_color;
}

.extraentry:focus {
  box-shadow: none;
}

.no-border {
  border-width: 0px;
}

.pedigree-button {
  padding: 0px;
}
