viewport {
  border-style: solid;
}

#logfile-textview text {
  background-image: none;
  background-color: black;
}

#statusbutton {
  padding-top: 0px;
  padding-bottom: 0px;
}

.no-border {
  border-width: 0px;
}